# Xcode
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Firebase
GoogleService-Info.plist

# User-specific
.DS_Store
*.orig
